div.swiper-slide__controls
  include ../base/homeButton.pug
  div.swiper-slide__buttons
    button.swiper-prev
      img.inline-svg(src="./assets/images/components/chevron-left-circle.svg")
    button.swiper-next
      img.inline-svg(src="./assets/images/components/chevron-right-circle.svg")