div.swiper-slide
  include ../base/homeButton.pug
  div.swiper-slide__content
    div.swiper-slide__contact
      p.swiper-slide__contact__text=slideData.text
      button.swiper-slide__contact__btn.button_primary=slideData.buttonText
      div.company__links
        each experience in sliderData.experience
          include ../base/experienceLinks.pug
  p.swiper-slide__text=slideData.bottomText
  div.swiper-slide__buttons
    button.swiper-prev
      img.inline-svg(src="./assets/images/index/components/chevron-left-circle.svg")
    button.swiper-next
      img.inline-svg(src="./assets/images/index/components/chevron-right-circle.svg")