div.swiper-slide
  include ../base/sliderButtons.pug
  div.swiper-slide__content
    div.swiper-slide__contact
      img.swiper-slide__contact__bg(src=slideData.bgImage)
      div.swiper-slide__contact-info
        p.swiper-slide__contact__text=slideData.text
        a.swiper-slide__contact__btn.button_primary(href="mailto:"+slideData.mailTo)=slideData.buttonText
          img.inline-svg(src="./assets/images/components/plus.svg")
        div.swiper-slide__contact__links
          each experience in sliderData.experience
            include ../base/experienceLinks.pug
  p.swiper-slide__text=slideData.bottomText