div.swiper-slide
  include ../base/sliderButtons.pug
  div.swiper-slide__content
    img.swiper-slide__image(srcset=slideData["file-2x"]+" 2x" src=slideData["file-1x"])
  p.swiper-slide__text=slideData.bottomText
  