.main-info {
  background-color: #111111;
  width: 100%;
  height: 100%;
  &__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__greeting {
    margin-bottom: 65px;
    max-width: 500px;
  }
  &__experience {
    display: flex;
    .page-link {
      margin: 0px 25px;
      svg {
        path {
          transition: fill 0.5s ease;
        }
      }
      svg:hover {
        path {
          fill: #f2f4f7;
        }
      }
    }
  }
  .greeting-wrapper {
    &__heading {
      width: 100%;
      display: flex;
      align-items: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      h1 {
        text-align: center;
        font-size: 72px;
        font-weight: 600;
        line-height: 90px;
        color: #fcfcfd;
      }
      a {
        padding-bottom: 5px;
        align-self: flex-end;
        text-decoration: none;
        cursor: pointer;
        width: fit-content;
        display: block;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        color: #2e90fa;
        font-size: 18px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: currentColor;
          top: 100%;
          left: 0;
          pointer-events: none;
          color: #2e90fa;
        }
        .link__graphic {
          top: 2px;
          stroke-width: 6px;
          transition: transform 0.8s;
          transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
          position: absolute;
          left: 0;
          pointer-events: none;
          fill: none;
          stroke: #2e90fa;
        }
        &:hover {
          .link__graphic {
            transform: translate3d(-66.6%, 0, 0);
          }
        }
      }
    }
    &__video {
      .video-overlay {
        width: 140px;
        height: 140px;
        margin-right: 20px;
      }
    }
    &__main-info {
      margin-bottom: 60px;
    }
    &__accordion {
      z-index: -1;
      height: 0;
      position: relative;
      &-content {
        font-size: 18px;
        line-height: 28px;
        color: #98a2b3;
        opacity: 0;
      }
      &_close-trigger {
        path {
          fill: #454b4c;
          transition: fill 0.3s linear;
        }
        opacity: 0;
        position: absolute;
        cursor: pointer;
        top: -50%;
        right: -10%;
      }
      &_close-trigger:hover {
        path {
          fill: #e8fcff;
        }
      }
    }
    &__sub-info {
      p {
        max-width: 270px;
      }
      img {
        position: absolute;
        right: 0;
        top: 60%;
        width: 250px;
        height: 200px;
        transform: scale(0);
      }
    }
    &__socials {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__social-link {
      transform: scale(1);
      opacity: 1;
      margin-right: 50px;
      svg {
        path {
          transition: fill 0.5s ease;
        }
      }
      svg:hover {
        path {
          fill: #f2f4f7 !important;
        }
      }
    }
  }
}
