.swiper-container {
  overflow: hidden;
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
}
.swiper-slide {
  display: flex;
  width: 840px;
  position: relative;
  flex-direction: column;
  // justify-content:flex-start;
  transform: translateY(20%) !important;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: transparent;
  transition: all 0.7s;
  opacity: 0.5;
  &__lottie-helper-path {
    display: none;
  }
  &__content {
    width: 100%;
    height: 520px;
    // background-color: black;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
    iframe {
      width: 100%;
      border-radius: 20px;
      height: 100%;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__lottie {
    max-width: 100%;
    max-height: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__text {
    max-width: 830px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #344054;
  }
  &__contact {
    position: relative;
    width: 100%;
    height: 100%;
    &__bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 400px;
      height: 100%;
      margin: 0 auto;
    }
    &__text {
      margin: 0;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 30px;
      min-height: 20px;
    }
    &__btn {
      position: relative;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 45px;
      padding-left: 30px;
      transition: all 0.3s;
      &:hover {
        background-color: #004eeb;
      }
      svg {
        left: 10px;
        position: absolute;
      }
    }
    &__links {
      display: flex;
      justify-content: space-between;
      .page-link {
        svg {
          path {
            transition: all 0.3s;
          }
        }
      }
      .page-link:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
      .page-link.disabled {
        display: none;
      }
    }
  }
  &__controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: -7%;
    .home-button {
      opacity: 0;
      position: absolute;
      top: 15%;
      left: 0;
    }
  }
  &__buttons {
    display: flex;
    position: absolute;
    top: 15%;
    right: 0;
    opacity: 0;
    button {
      cursor: pointer;
      background: transparent;
      outline: none;
      border: none;
      &.swiper-button-disabled {
        pointer-events: none;
        svg {
          path {
            fill: #b9c9cc;
          }
        }
      }
    }
    button:hover {
      svg {
        path {
          fill: #1570ef;
        }
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
}
.slider__bottomText {
  display: flex;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 40%;
  color: #98a2b3;
  p {
    order: 1;
  }
  .inline-svg {
    order: 0;
    margin-right: 10px;
  }
}
.swiper-slide.swiper-slide-active {
  opacity: 1;
  .swiper-slide__buttons {
    opacity: 1;
  }
  .home-button {
    opacity: 1;
  }
}
